<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script id="script" src="http://localhost:3000/js/widget.js" 
    data-id="92477250-4b58-42b2-83b7-c9d1b9ae894a"></script>
</body>
</html>